html {
    font-family: 'Hind Vadodara', sans-serif;
    color:#505050;
}
body {
    width:100vw;
    margin:0px;
}
.header {
    width:100%;
    height:64px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    
}
.logo {
    display:flex;   
    margin-left:24px;
    flex-direction: row;
    justify-content: space-between;
    color:red;
}
.logo--text {
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: left;
    margin:auto;
    height:32px;
    font-size:20px;
    text-transform: uppercase;  
}
.logo--svg {
    background-image: url('resources/images/ic-logo.svg');
    background-size:cover;
    display:flex;
    width:32px;
    flex-direction: row;
    justify-content: left;
    margin:auto;
    height:32px;
    font-size:2.5vw;
    text-transform: uppercase;  
}
.colmar{
    color:#606060;
    font-weight: 600;
  }
.academy{
    color:#808080;
  }

.main--nav {
    display:flex;  
    
    height:32px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    float:right;
    font-size:20px;
}

.main--nav .nav--item {
    display:flex;
    float:right;
    margin-right:16px;
    

}
.main--nav  .sign-in {
    margin-right:24px;
}

.body--container {
    padding:32px 24px;
    
}
.gray {
    background-color: #efefef;
}
.column--container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;

}
.two--column--left{
    min-width:60%;
    display:flex;
}
.two--column--right{
    min-width:40%;
    

}
.two--column--left img {
    width:100%;
    height:100%;
}
.column-inner {
    padding: 24px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.start--here {
    width: 100%;
    height: 50px;
    background-color:#404040;
    color: #fefefe;
    margin-right:24px;
}

h1 {
    font-size: 4.3vw;
}
p {
    font-size: 2.5vw;
}