html {
    font-family: 'Hind Vadodara', sans-serif;
    color:#505050;
}
body {
    width:100vw;
    margin:0px;
}
.header {
    width:100%;
    height:64px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    z-index:999;
    background-color:#fff;
    
}
.logo {
    display:none;
}

.logo--svg {
    
    background-size:fit;
    display:flex;
    width:32px;
    flex-direction: row;
    justify-content: left;
    margin:auto;
    height:32px;
    font-size:2.5vw;
    text-transform: uppercase;  
}

.logo--text { 
    display:none;
}

.colmar{
    color:#606060;
    font-weight: 600;
  }
.academy{
    color:#808080;
  }
nav {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  @media (min-width:480px){
    .logo--text {
        display:flex!important;
        width:100%;
        flex-direction: row;
        justify-content: left;
        margin:auto;
        height:32px;
        font-size:20px;
        text-transform: uppercase;  
    }
    .logo {
        display:flex!important;   
        margin-left:24px;
        flex-direction: row;
        justify-content: space-between;
        color:red;
    }
    #mobile--logo{
        display:none!important;
    }
    .mobile--nav {
        justify-content: space-evenly!important;
    }
  }
  @media (min-width:680px){
    
    .mobile--nav {
        display:none!important;
    }
      .desktop--nav {display:flex!important;
        height:32px;
        flex-direction: row;
        justify-content: flex-end!important;
        align-items: center;
        float:right;
        font-size:20px;}
    nav {
        justify-content: flex-end!important;
    }

        
        
  }
.desktop--nav {
    display: none;
}
.nav--item {
    display:flex;
    margin-right:16px;
}
.sign-in {
    margin-right:24px;
}

.mobile--nav{
    display:flex;
        height:32px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        float:right;
        font-size:20px;
        width:90%;
        margin:auto;
}
.mobile--nav .nav--item {

}


.gray {
    background-color: #efefef;
}
.column--container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width:400px) and (max-width:679px){
    h1 {
        font-size: 10vw!important;
     }
    p {
        font-size: 7vw!important;
    }
    .two--column--left img {
        max-height:none!important;
    }
}
@media screen and (min-width:680px){
    .column--container {
        flex-wrap: inherit!important;
    }
    .two--column--right{
        min-width:40%;
    }
     h1 {
        font-size: 4.3vw!important;
     }
    p {
        font-size: 2.5vw!important;
    }
    .body--container {
        position:relative;
        top:64px;
        padding:32px 24px;
        
    }
    .start--here {
        font-size: 2.5vw!important;
    }
    .column-inner {
        padding: 24px;
    }
}
.body--container {
    position:relative;
    top:64px;
}
.two--column--left{
    min-width:60%;
    height:100%;
    
    display:flex;
}
.two--column--right{
    width:100%;
    
    

}
.two--column--left img {
    width:100%;
    height:100%;
    max-height:100vw;
}
.column-inner {
    padding: 32px 16px;
    
}

.start--here {
    width: 100%;
    height: 50px;
    background-color:#404040;
    color: #fefefe;
    margin-right:24px;
    font-size: 7vw;
}

h1 {
    font-size: 10vw;
    margin-block-start: 0em;
    margin-block-end: 32px;
 }
p {
    font-size: 7vw;
    margin-block-start: 0em;
    margin-block-end: 24px;
}